body{
    background-color: LightCyan;
    margin: 0;
}

header{
    width: 100%;
    background-color: AliceBlue;
    height: 130px;
}

#a{
    padding: 10px;
    max-width: 960px;
    margin:auto; 
    }


#a p{
    font-size: 30px;
    margin: 10px;
}


#c{
    width: 100%;
    background-color: AliceBlue;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

#c nav{
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 10px;
    margin: 10px;
}


#c nav a{
    text-decoration: none;
}
    

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: AliceBlue;
    width: 100%;
}

.s1{
    padding: 10px;
    margin-top: 30px;
    display: flex;
    order: 1;
}

.s2{
    padding: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    order: 3;
}

.s3{
    padding: 10px;
    margin-top: 30px;
    display: flex;
    order: 2;
    flex-direction: column;
    text-align: center;
}

.s2 table{
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    display:table;
    margin: auto;
    padding:3px;
    border: 3px solid blue;
}


.s2 table tbody tr th{
    border: 3px solid blue;
    padding: 10px;
}


.s2 table tbody tr td{
    border: 3px solid blue;
    padding: 10px;
}


.s2 table tbody tr.nch{
    display: table-row;
    border: 3px solid blue;
    background-color: DarkTurquoise;
}


.s2 table tbody tr#ch{
    display: table-row;
    border: 3px solid blue;
    background-color: DarkTurquoise;
}

#Logotip{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
}

footer{
    width:100%;
    height: 50px;
    background-color:AliceBlue;
    text-align:left;
    margin-top:30px;
}

footer p{
    padding: 10px;
    margin: 10px;
}

@media screen and (min-width: 1000px) {

    
    #c{
        max-width: 960px;
        margin:auto; 
        margin-top: 35px;
        flex-direction: row;
    }
       
    #c nav{
        flex-direction: row;
	    justify-content: space-around;
    }
    
    .content{
        max-width: 960px;
        margin:auto;
        margin-top: 35px;
    }
    
    .s2{
        order: 2;
    }
    
    .s3{
        order: 3;
    }
}
